## Problem Statement

(1.1) Write a Python Program to implement your own myreduce() function which works exactly like
Python's built-in function reduce()

In [0]:
def myreduce(function_name, sequence):
  result = sequence[0] 
  for i in sequence[1:]:
   result = function_name(result, i)
  return result

In [9]:
lst =[47,11,42,13]
myreduce(lambda x,y: x+y,lst)

113

(1.2) Write a Python program to implement your own myfilter() function which works exactly like
Python's built-in function filter()

In [0]:
def myfilter(function_name, sequence):
 result = []
 for i in sequence:
  if function_name(i):
   result.append(i)
 return result

In [11]:
lst = range(20)
myfilter(lambda x:x%2 == 0, lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

(2) Implement List comprehensions to produce the following lists.
   Write List comprehensions to produce the following List
   
    ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

    ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz']
    
    [[2], [3], [4], [3], [4], [5], [4], [5], [6]]
    
    [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

    [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [12]:
# ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
lst = ['x','y','z']
a = []
for i in lst:
    for j in range(1,5):
        result = i*j
        a.append(result)
print(a)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [13]:
# ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
lst = ['x','y','z']
a = []
for j in range(1,5):
    for i in lst:
        result = i*j
        a.append(result)
print(a)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [18]:
# [[2], [3], [4], [3], [4], [5], [4], [5], [6]]
lst = [2,3,4]
result = [[i+j] for i in lst for j in range(0,3)]
print(str(result))

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [19]:
# [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
lst = [2,3,4,5]
result = [[i+j for i in lst] for j in range(0,4)]
print(str(result))

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [20]:
# [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
lst=[1,2,3]
result = [ (b,a) for a in lst for b in lst]
print(str(result))

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]